<!DOCTYPE html>
<html lang="hu"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tantárgy szerkesztése</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<h2>Osztály szerkeztése</h2>
<form class=" form-inline" action="#"
      th:action="@{/subject/update/{id}(id=${subject.id})}"
      th:object="${subject}"
      method="post">
    <label for="id">Azon</label>
    <input type="number" th:field="*{id}" id="id" placeholder="id" disabled="disabled">
    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
    <label for="subjectName">Név</label>
    <input type="text" th:field="*{subjectName}" id="subjectName" placeholder="subjectName">
    <span th:if="${#fields.hasErrors('subjectName')}" th:errors="*{subjectName}"></span>
    <input type="submit" value="Update Subject">
</form>

</body>
</html>