<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
<ul class="nav nav-pills" th:fragment="header">
    <li class="nav-item">
        <a href="#" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Profile</a>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Adatkezelés</a>
        <div class="dropdown-menu">
-           <a href="/th/subjects/index" class="dropdown-item">Tantárgyak</a>
            <a href="schoolClassz/index" class="dropdown-item">Osztályok</a>
            <a href="students/index" class="dropdown-item">Osztályok</a>
        </div>
    </li>
    <li class="nav-item dropdown ms-auto">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
        <div class="dropdown-menu dropdown-menu-end">
            <a href="#" class="dropdown-item">Reports</a>
            <a href="#" class="dropdown-item">Settings</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">Logout</a>
        </div>
    </li>
</ul>
</body>
</html>