<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="/th/fragments/head.html"></th:block>
    <title>Kréta</title>
</head>
<body>
    <div th:replace="/th/fragments/menu.html">
    </div>
    <div class="container">
        <div class="hero-unit">
            <h1>Kréta - iskolai aminisztáció</h1>
            <p>Thymeleaf and Bootstrap</p>
        </div>
    </div>
    <div th:replace="/th/fragments/footer.html">&copy; Gyuris Csaba és Gyuris László Márton</div>
</body>
</html>