<!DOCTYPE html>
<html lang="hu"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  action="#"
      th:action="@{/student/update/{id}(id=${student.id})}"
      th:object="${student}"
      method="post">
  <label for="id">Azon</label>
  <input type="number" th:field="*{id}" id="id" placeholder="id" disabled="disabled">
  <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
  <label for="fullName">Név</label>
  <input type="text" th:field="*{fullName}" id="fullName" placeholder="fullName">
  <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
    <label for="birthday">Születési dátum</label>
    <input type="date" th:field="*{birthday}" id="birthday" placeholder="birthday">
    <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
    <label for="isWoman">Neme</label>
    <input type="checkbox" th:field="*{isWoman}" id="isWoman" th:checked="${isWoman}">
    <span th:if="${#fields.hasErrors('isWoman')}" th:errors="*{isWoman}"></span>
  <input type="submit" value="Update Student">
</form>
</body>
</html>